.main {
    background-image: url("paperBg.jpg");
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.myselect {
    width:500px
}

.ddownMenu {
    width:500px;
    margin:0px auto;
    margin-top:30px;
    height:500px;
}

.buttons {
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


.level {
    height: 500px;

}

#slotOptions {
    width: 500px;
    margin-right: 200px;
    position: absolute;
    left: 700px;
    bottom: 500px;
    display: flex;
    justify-content: center;

}


.fileSelectionContainer {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 18px;
}

#labelOptions {
    margin: 100px;

}

#contentLine {
    width: 600px;
    margin-right: 200px;
    position: absolute;
    left: 650px;
    background-color: C2E7D9;
    text-align: center;
}

#preview {
    display: flex;
    justify-content: center;
    height: 25%;


}

#next {
    background-color: #C3447A;
}

p::selection { 
  background-color: gray; 
}