.main {
    background-image: url("paperBg.jpg");

}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.myselect {
    width:500px;
}


#clearBtn {
    color: black;
    background: repeating-linear-gradient(
    45deg,
    #eee,
    #999 10px,
    #ccc 10px,
    #ccc 20px )
}


#previous {
    background: blue;

}
#slotOptions {

    display: flex;
    justify-content: center;

}

.btns {
    height: 300px;
}


#contentLine {

    text-align: center;
}

temp {
color: blue;
}

#preview {
    display: flex;
    justify-content: center;
    height: 200px;
    border-radius: 6px;
    tab-size: 10px;
    -moz-tab-size: 10em;
    -o-tab-size: 10em;
    -webkit-tab-size: 10em;
}

Pre {
    tab-size: 10px;
    -moz-tab-size: 10em;
    -o-tab-size: 10em;
    -webkit-tab-size: 10em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#next {
    background-color: #C3447A;
}

p::selection { 
  background-color: gray; 
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

