<html>
  <head>
    <title>Annotation Tool</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
      <script src="static/annotation_tool.js"></script>
      <link rel="stylesheet" type="text/css" href="/static/styles.css"/>
  </head>
  <body>
    <div>
      Hi, {{ user }}
      <a href='/logout'>Logout</a><br>
    </div>
    <div class='ddownMenu' >
      <h2>Select File to Annotate</h2>
        <select class="myselect" id="mysel" onchange="grabFileName()">

          {% for f in fnames %}
            <option>{{ f }}</option>
          {% endfor %}
        </select>
      <p id='contentLine'></p>
      <p hidden id='contentPkg'></p>

    </div>
    <span id='labelOptions' class='ddownMenu'>
      <h3>choose a label</h3>
        <select class='myselect' id='myselLabel' onchange="previewText()">

          {% for l in LABELS %}
            <option> {{ l }}</option>
          {% endfor %}
        </select>  
    </span>
    <span id='slotOptions'>
      Placeholder span for slot options
    </span>
    
    <div class='buttons'>
      <button id='beginning'>Beginning</button>
      <button id='previous'>Previous</button>
      <button id='skip' onclick="alertMe()">Skip</button>
      <button id='next' onclick="nextLine()">Next</button>
    </div>
    <script type="text/javascript">
      $(".myselect").select2();
    </script>

  </body>
</html>