<!DOCTYPE html>
<html>
  <head>
    <title>Annotation Tool</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="static/annotation_tool.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
<!--     <link rel="stylesheet" type="text/css" href="/static/styles.css"/>
 -->  </head>

  <body>
    <div id="'greetUser" class="navbar is-fluid">
      <img class="navbar-brand" src="/static/midea_logo.png">
      <div class="navbar-item"><h3>Hi, {{ user }} </h3></div>
      <a class='navbar-item' href='/logout'>Logout</a><br>
    </div>

    <div class='main container'>
      <div class="container">
        <div class="notification">
         <div class="fileSelectionContainer">
            <div class='ddownMenu' >Select File to Annotate
              <select class="myselect" id="mysel" onchange="grabFileName()">
                {% for f in fnames %}
                  <option>{{ f }}</option>
                {% endfor %}
              </select>
              <p hidden id='contentPkg'></p>
            </div>
          </div>      



      </div>
        </div>

      <section class="section">
        <div class="container">
          <div class="columns">
            <div class="column is-4">

             <div id='labelOptions' class='ddownMenu'>
                <h3>Choose a label</h3>
                  <select class='myselect' id='myselLabel' onchange="grabSlotOptions()">

                    {% for l in labels %}
                      <option> {{ l }}</option>
                    {% endfor %}
                  </select>
              </div>
            </div>
            <div class="column is-8">
              <div id='contentLine' class=""></div>
            </div>

              <section class='section'>
                <div id='slotOptions'></div>
              </section>

          </div> here we have slot buttons section inside the container, in the col - nested section tho?
        </div>
      </section>

      <section class='section'>
        <div class='column has-text-centered'>
          <div class="container">
            <div id='preview'>
              <div id="previewText"></div>
              <div hidden id='storage'></div>
          </div>
        </div>
      </section>

      <div class='column has-text-centered'>
        <div class="container">
          <div class='buttons'>
            <button id='beginning'>Beginning</button>
            <button id='previous'>Previous</button>
            <button id='skip' onclick="alertMe()">Skip</button>
            <button id='next' onclick="processAnnotatedText()">Preview</button>
          </div>
          <script type="text/javascript">
            $(".myselect").select2();
          </script>
        </div>
      </div>

    </div>
  </body>